In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('errors.csv')

In [3]:
data.drop(columns='Unnamed: 0', inplace = True)

In [4]:
data.rename(columns={'F1Y1':'F1-Y1', 'F2Y2':'F2-Y2', 'F3Y3':'F3-Y3', 'F4Y4':'F4-Y4'},inplace= True)

In [6]:
data

            F1-Y1         F2-Y2       F3-Y3        F4-Y4    X1    X2    X3
0     8911.816892   8643.071069  940.793267   964.381324   1.0   1.0   1.0
1     8892.614268   7634.437710  926.026740  1055.384330   1.0   1.0   2.0
2     9319.778794  10664.201000  933.654133   968.129138   1.0   1.0   3.0
3     7283.268765   9731.929799  896.398534  1167.687626   1.0   1.0   4.0
4     7906.638284  10970.326688  728.596419   974.697729   1.0   1.0   5.0
...           ...           ...         ...          ...   ...   ...   ...
3370  6504.515835   9641.181726  851.765100  1106.022239  15.0  15.0  11.0
3371  6754.094279   9409.705520  852.596483  1121.362816  15.0  15.0  12.0
3372  6783.498479   9479.455037  860.484520  1189.750639  15.0  15.0  13.0
3373  6614.973001   9401.140096  853.466667  1155.849691  15.0  15.0  14.0
3374  6897.355018   9852.178209  879.919511  1199.656993  15.0  15.0  15.0

[3375 rows x 7 columns]

In [8]:
np.argmin(np.sum(data.iloc[:,:4],axis= 1))

1730

In [9]:
data.iloc[1730,:]

F1-Y1    4436.891128
F2-Y2    8221.851686
F3-Y3     703.543904
F4-Y4     634.328364
X1          8.000000
X2         11.000000
X3          6.000000
Name: 1730, dtype: float64

In [23]:
np.argmin(data.iloc[:,1])

496

In [25]:
data.iloc[496,:]

F1-Y1    7436.295278
F2-Y2    6428.782545
F3-Y3     886.945872
F4-Y4    1224.437694
X1          3.000000
X2          4.000000
X3          2.000000
Name: 496, dtype: float64

In [30]:
data = pd.read_csv('errors_lambda.csv')
data.drop(columns='Unnamed: 0', inplace = True)
data.rename(columns={'F1Y1':'F1-Y1', 'F2Y2':'F2-Y2', 'F3Y3':'F3-Y3', 'F4Y4':'F4-Y4'},inplace= True)

In [31]:
data

            F1-Y1         F2-Y2       F3-Y3        F4-Y4    X1    X2    X3
0     8330.587595   9260.370480  867.140851  1005.074210   1.0   1.0   1.0
1     8008.589304  10991.208429  816.305783  1211.084969   1.0   1.0   2.0
2     8238.818020  10970.607579  821.606386  1278.816627   1.0   1.0   3.0
3     8279.037009  10610.016361  809.798744  1287.515635   1.0   1.0   4.0
4     7776.154854  11898.361860  863.024670  1182.505514   1.0   1.0   5.0
...           ...           ...         ...          ...   ...   ...   ...
3370  6593.072398   9550.390752  787.913911  1181.235334  15.0  15.0  11.0
3371  6922.122711  10124.928642  864.538839  1163.127700  15.0  15.0  12.0
3372  7076.559836  10544.052555  921.704009  1159.811974  15.0  15.0  13.0
3373  8045.371075  11348.236133  842.841120  1133.851454  15.0  15.0  14.0
3374  7884.782894  10932.599433  833.297778  1147.263773  15.0  15.0  15.0

[3375 rows x 7 columns]

In [32]:
np.argmin(np.sum(data.iloc[:,:4],axis= 1))

2041

In [33]:
data.iloc[2041,:]

F1-Y1    6521.487565
F2-Y2    6996.992585
F3-Y3     932.775163
F4-Y4    1207.418450
X1         10.000000
X2          2.000000
X3          2.000000
Name: 2041, dtype: float64