In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('errors.csv')

In [3]:
data.drop(columns='Unnamed: 0', inplace = True)

In [4]:
data.rename(columns={'F1Y1':'F1-Y1', 'F2Y2':'F2-Y2', 'F3Y3':'F3-Y3', 'F4Y4':'F4-Y4'},inplace= True)

In [6]:
data

            F1-Y1         F2-Y2       F3-Y3        F4-Y4    X1    X2    X3
0     8911.816892   8643.071069  940.793267   964.381324   1.0   1.0   1.0
1     8892.614268   7634.437710  926.026740  1055.384330   1.0   1.0   2.0
2     9319.778794  10664.201000  933.654133   968.129138   1.0   1.0   3.0
3     7283.268765   9731.929799  896.398534  1167.687626   1.0   1.0   4.0
4     7906.638284  10970.326688  728.596419   974.697729   1.0   1.0   5.0
...           ...           ...         ...          ...   ...   ...   ...
3370  6504.515835   9641.181726  851.765100  1106.022239  15.0  15.0  11.0
3371  6754.094279   9409.705520  852.596483  1121.362816  15.0  15.0  12.0
3372  6783.498479   9479.455037  860.484520  1189.750639  15.0  15.0  13.0
3373  6614.973001   9401.140096  853.466667  1155.849691  15.0  15.0  14.0
3374  6897.355018   9852.178209  879.919511  1199.656993  15.0  15.0  15.0

[3375 rows x 7 columns]

In [8]:
np.argmin(np.sum(data.iloc[:,:4],axis= 1))

1730

In [9]:
data.iloc[1730,:]

F1-Y1    4436.891128
F2-Y2    8221.851686
F3-Y3     703.543904
F4-Y4     634.328364
X1          8.000000
X2         11.000000
X3          6.000000
Name: 1730, dtype: float64

In [23]:
np.argmin(data.iloc[:,1])

496

In [25]:
data.iloc[496,:]

F1-Y1    7436.295278
F2-Y2    6428.782545
F3-Y3     886.945872
F4-Y4    1224.437694
X1          3.000000
X2          4.000000
X3          2.000000
Name: 496, dtype: float64

In [10]:
data = pd.read_csv('errors_lambda.csv')
data.drop(columns='Unnamed: 0', inplace = True)
data.rename(columns={'F1Y1':'F1-Y1', 'F2Y2':'F2-Y2', 'F3Y3':'F3-Y3', 'F4Y4':'F4-Y4'},inplace= True)

In [11]:
data

            F1-Y1         F2-Y2       F3-Y3        F4-Y4    X1    X2    X3
0     8330.587595   9260.370480  867.140851  1005.074210   1.0   1.0   1.0
1     8008.589304  10991.208429  816.305783  1211.084969   1.0   1.0   2.0
2     8238.818020  10970.607579  821.606386  1278.816627   1.0   1.0   3.0
3     8279.037009  10610.016361  809.798744  1287.515635   1.0   1.0   4.0
4     7776.154854  11898.361860  863.024670  1182.505514   1.0   1.0   5.0
...           ...           ...         ...          ...   ...   ...   ...
3370  6593.072398   9550.390752  787.913911  1181.235334  15.0  15.0  11.0
3371  6922.122711  10124.928642  864.538839  1163.127700  15.0  15.0  12.0
3372  7076.559836  10544.052555  921.704009  1159.811974  15.0  15.0  13.0
3373  8045.371075  11348.236133  842.841120  1133.851454  15.0  15.0  14.0
3374  7884.782894  10932.599433  833.297778  1147.263773  15.0  15.0  15.0

[3375 rows x 7 columns]

In [12]:
np.argmin(np.sum(data.iloc[:,:4],axis= 1))

2041

In [13]:
data.iloc[2041,:]

F1-Y1    6521.487565
F2-Y2    6996.992585
F3-Y3     932.775163
F4-Y4    1207.418450
X1         10.000000
X2          2.000000
X3          2.000000
Name: 2041, dtype: float64

In [14]:
data = pd.read_csv('errors_norm.csv')
data.drop(columns='Unnamed: 0', inplace = True)
data.rename(columns={'F1Y1':'F1-Y1', 'F2Y2':'F2-Y2', 'F3Y3':'F3-Y3', 'F4Y4':'F4-Y4'},inplace= True)

In [15]:
data

            F1-Y1        F2-Y2        F3-Y3       F4-Y4    X1    X2    X3
0     8525.955207  7632.262993   771.378654  792.328817   1.0   1.0   1.0
1     9945.726661  7822.381198  1172.254575  630.707787   1.0   1.0   2.0
2     7456.070603  6423.395148  1038.429510  745.688087   1.0   1.0   3.0
3     6631.763206  6825.664511  1162.036399  751.168443   1.0   1.0   4.0
4     6493.428475  6560.006539  1079.322534  723.545045   1.0   1.0   5.0
...           ...          ...          ...         ...   ...   ...   ...
3370  1667.690274  1671.445926   299.606130  114.866858  15.0  15.0  11.0
3371  1675.880099  1506.817594   301.341781  116.504051  15.0  15.0  12.0
3372  1543.521518  1358.642696   268.220001  129.276933  15.0  15.0  13.0
3373  1421.411649  1407.057882   277.049115  118.738326  15.0  15.0  14.0
3374  1249.452631  1366.068560   361.721061  148.578340  15.0  15.0  15.0

[3375 rows x 7 columns]

In [16]:
np.argmin(np.sum(data.iloc[:,:4],axis= 1))

3143

In [17]:
data.iloc[3143,:]

F1-Y1    1199.603820
F2-Y2    1017.241855
F3-Y3     359.215728
F4-Y4     107.192388
X1         14.000000
X2         15.000000
X3          9.000000
Name: 3143, dtype: float64

In [18]:
data = pd.read_csv('errors_norm_lambda.csv')
data.drop(columns='Unnamed: 0', inplace = True)
data.rename(columns={'F1Y1':'F1-Y1', 'F2Y2':'F2-Y2', 'F3Y3':'F3-Y3', 'F4Y4':'F4-Y4'},inplace= True)

In [19]:
data

            F1-Y1        F2-Y2       F3-Y3       F4-Y4    X1    X2    X3
0     8183.942534  7659.169310  825.811240  845.019475   1.0   1.0   1.0
1     7253.778279  8030.099270  823.977324  689.532223   1.0   1.0   2.0
2     6439.218035  6871.475277  824.050557  540.472773   1.0   1.0   3.0
3     6501.844295  5953.407773  759.121844  547.370889   1.0   1.0   4.0
4     5391.485734  5703.896287  800.507102  441.276666   1.0   1.0   5.0
...           ...          ...         ...         ...   ...   ...   ...
3370  2338.434907  4096.201612  369.192411  115.087782  15.0  15.0  11.0
3371  1867.641834  4096.852341  381.621721  126.994382  15.0  15.0  12.0
3372  1754.909308  4425.594726  401.329005   92.162628  15.0  15.0  13.0
3373  1657.623524  3611.805596  383.429382   42.920595  15.0  15.0  14.0
3374     0.012246     0.026801    0.005673    0.004441  15.0  15.0  15.0

[3375 rows x 7 columns]

In [20]:
np.argmin(np.sum(data.iloc[:,:4],axis= 1))

449

In [21]:
data.iloc[449,:]

F1-Y1     0.012128
F2-Y2     0.025762
F3-Y3     0.005776
F4-Y4     0.004243
X1        2.000000
X2       15.000000
X3       15.000000
Name: 449, dtype: float64